section.services#services(style='background-image: url(' + require("./components/images/background-2.jpg") + ')')
	.services__overlay
		.container
			.services__block
				.main-title.wow.fadeIn
					h2 Наши услуги и специализация:
					p Современные технологии утепления фасадов создают комфортные условия внутри помещения и снижают шумовые нагрузки, что благотворно влияет на долговечность зданий и на состояние людей.
				ul.row
					mixin servicesBox(name, text, delay)
						li.col-md-4.wow.fadeIn(data-wow-delay= delay)
							.services__box
								.services__name
									h3= name
								.services__info
									.services__text
										p= text
									.services__list
										ul
											block
					+servicesBox('Мокрым способом', 'Преимущества системы «мокрый фасад»:', '0.5s')
						li Высокий уровень теплоизоляции стен.
						li Надежная звукоизоляция стен.
						li Возможность применения легких ограждающих конструкций без потери теплоустойчивости.
						li Увеличение полезной площади здания за счет уменьшения толщины стен.
						li Отсутствие «высолов» на фасадах.
						li «Мокрый фасад» можно монтировать на ограждающие поверхности различных видов: на монолитный, сборный, ячеистый бетон, кирпич, OSB и др.
						li «Мокрые» фасады монтируются на ослабленные поверхности.
					+servicesBox('Вентилируемый фасад', 'Вентилируемые фасады имеют множество преимуществ:', '1s')
						li Значительная долговечность фасада без необходимости ремонта.
						li Увеличение защиты стены здания от агрессивного воздействия внешней среды.
						li Защита несущих стен от проникновения влаги и облегчение ее испарения с поверхности несущей стены .
						li Создание благоприятных условий температурной эксплуатации здания.
						li Конструкция вентилируемого фасада препятствует возникновению плесени внутри зданий;
						li Снижение энергопотребления на дополнительный нагрев воздуха в помещениях здания в холодный период года до 30 %;
						li Снижение затрат энергии на кондиционирование здания в жаркий период года, благодаря энергосберегающему эффекту;
						li Повышение звукоизоляции стен, потолков здания.
					+servicesBox('Сайдинг', 'Сайдинг — облицовка стен зданий и выполняющая две функции:', '1.5s')
						li Утилитарная (защита здания от внешних воздействий, таких, как дождь, ветер, снег, солнце);
						li Эстетическая (декорирование фасада дома).
						li Сайдинг выполняют из следующего материала: виниловый, древесный, деревянный, стальной, цементный.